a:hover {
  text-decoration: underline; 
}

body{
  padding-bottom: 1500px;
  background-color: rgba(8, 8, 14, 0.89);
  animation:animateBg 5s linear infinite;

  margin: 0px;
  

}
.chat-body{
  display: flex;
  flex-direction: row;
  width: 1200px;
  justify-content: space-between;
}

.left-body{
  background-color: grey;
  color: white;
  margin-top: 50px;
  height: 500px;
  width: 250px;
  padding: 10px;
  border-radius: 10px;
  margin-left: 10px;
}

.right-body{
  background-color: grey;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 50px;
  height: 480px;
  width: 800px;
  padding: 20px;
  border-radius: 20px;
}

.intro {
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  padding-left: 10px;
  color: white;
  animation:animateBg 5s linear infinite;
  font-weight: bold;
}

@keyframes animateBg {
  100% {
    filter:hue-rotate(360deg);
  }
}

@media screen and (min-width: 450px) {
  .left-body,
  .right-body {
    margin-top: 140px;
  }
}